header {
    width: 100%;
    max-width: 600px;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--white);
    color: var(--white);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 15px;
}

header .logout{
    font-size: 2.5rem;
    display: none;
}

header img {
    display: none;
}

header .theme {
    width: 6rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 90px;
    position: relative;
    border: 1px solid var(--white);
    cursor: pointer;
    padding: 2px;
}

header .theme i {
    font-size: 1.6rem;
}

header .theme i:nth-child(1) {
    margin-left: 6px;
    color: yellow;
}

header .theme i:nth-child(3) {
    margin-right: 7px;
}

header .theme .circle {
    height: 2.4rem;
    width: 2.5rem;
    background-color: var(--white);
    border-radius: 50%;
    position: absolute;
}

header img:nth-child(1){
    display: none;
}

.theme-active {
    right: 2px;
}

